@import url(./main.css);

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.stars {
  display: inline-flex;
}

.stars svg {
  width: 30px;
  fill: #fff;
  stroke: red;
  stroke-width: 10px;
}

.stars:hover svg{
  fill: red;
  cursor: pointer;
}

.stars svg:hover ~ svg {
  fill: #fff;
  cursor: pointer;
}