@import url(./main.css);

.pictures {
  position: relative;
  margin: 0 auto;
  height: 450px;
  width: 450px;
}

img {
  position: absolute;
  top: 20px;
}

img:hover {
  z-index: 5;
  cursor: pointer;
}

.man {
  left: 250px;
}

.yin {
  top: 250px;
  left: 125px;
}

.smoke {
  top: 75px;
  left: 95px;
}

